$themeColor: rgba(160, 3, 115, 0.5);
@font-face {
  font-family: myfont;
  src: url(./清松手寫體1.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-family: "myfont", sans-serif;
}
header {
  display: flex;
  flex-wrap: wrap;
  .topleft {
    display: flex;
    flex-wrap: wrap;
    flex: 3 1 500px;
    align-items: center;
    img {
      margin: 0.1rem;
      width: 50px;
    }
  }
  .topright {
    display: flex;
    flex-wrap: wrap;
    flex: 9 1 500px;
    nav {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      ul {
        display: flex;
        justify-content: space-evenly;
        flex: wrap;
        li {
          list-style-type: none;
          padding:0.5rem;
          a {
            text-decoration: none;
            }
          }
        }
      }
    }
  }
main {
  section.background-img {
  
    min-height: 70vh;
    background-image: url(./stlouisnight.jpg);
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
  }
  div.filter {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    min-height: 70vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index:-1;
    ;
  }
  h3 {
    color: white;
    font-size: 2rem;
  }
}
.recommend{
    background-color: white;
    display:flex;
    flex-direction: column;
    padding: 2rem 1rem;
    text-align: center;
    div.places{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
      div.place{
      padding: 1rem;
      flex:0 1 250px;
        img{
        width:80%;
        border-radius: 50%;
        padding: 0.3rem;
        transition: all 0.3s ease-in;
        &:hover { 
          border: 3px solid $themeColor;
        }
      }
      p{
        font-size: 16pt;
      }
    }
  }
 }
